<div class="form-container">
  <h1>T K A P - [IS]</h1>
  <form>
    <div class="form-group">
      <label for="sysdate">Date:</label>
      <input type="text" id="sysdate" name="sysdate" [(ngModel)]="SYSDATE" readonly>
    </div>
    <div class="form-group">
      <label for="screenname">Screen Name:</label>
      <input type="text" id="screenname" name="screenname" [(ngModel)]="SCREENNAME" readonly>
    </div>
    <div class="form-group">
      <label for="mode">Mode:</label>
      <input type="text" id="mode" name="mode" [(ngModel)]="MODE" readonly>
    </div>
    <div class="form-group">
      <label for="unit_id">Unit ID:</label>
      <input type="text" id="unit_id" name="unit_id" [(ngModel)]="UNIT_ID" (dblclick)="showUnitIDLOV()" (click)="clearFields('unit_id')">
    </div>
    <div class="form-group">
      <label for="unit_name">Unit Name:</label>
      <input type="text" id="unit_name" name="unit_name" [(ngModel)]="UNIT_NAME" readonly>
    </div>
    <div class="form-group">
      <label for="group_id">Group ID:</label>
      <input type="text" id="group_id" name="group_id" [(ngModel)]="GROUP_ID" (dblclick)="showGroupIDLOV()" (click)="clearFields('group_id')">
    </div>
    <div class="form-group">
      <label for="group_name">Group Name:</label>
      <input type="text" id="group_name" name="group_name" [(ngModel)]="GROUP_NAME" readonly>
    </div>
    <div class="form-group">
      <label for="line_id">Line ID:</label>
      <input type="text" id="line_id" name="line_id" [(ngModel)]="LINE_ID" (dblclick)="showLineIDLOV()" (click)="clearFields('line_id')">
    </div>
    <div class="form-group">
      <label for="line_desc">Line Description:</label>
      <input type="text" id="line_desc" name="line_desc" [(ngModel)]="LINE_DESC" readonly>
    </div>
    <div class="form-group">
      <label for="part_id">Part ID:</label>
      <input type="text" id="part_id" name="part_id" [(ngModel)]="PART_ID" readonly>
    </div>
    <div class="form-group">
      <label for="partno">Part Number:</label>
      <input type="text" id="partno" name="partno" [(ngModel)]="PARTNO" (dblclick)="showPartNumberLOV()" (click)="clearFields('partno')">
    </div>
    <div class="form-group">
      <label for="part_desc">Part Description:</label>
      <input type="text" id="part_desc" name="part_desc" [(ngModel)]="PART_DESC" (click)="handlePartDescriptionClick()">
    </div>
    <div class="form-group">
      <label for="part_status">Part Status:</label>
      <input type="text" id="part_status" name="part_status" [(ngModel)]="PART_STATUS" readonly>
    </div>
    <div class="form-group">
      <button type="button" id="save" name="save" (click)="save()" [disabled]="!isSaveEnabled">Save</button>
      <button type="button" id="clear" name="clear" (click)="clearForm()">Clear</button>
      <button type="button" id="edit" name="edit" (click)="editForm()">Edit</button>
      <button type="button" id="exit" name="exit" (click)="exitForm()">Exit</button>
    </div>
  </form>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
